{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 134, "knowledge_revision": 264, "git_revision": "", "hash": "bc2e7e386fa501c713499645f08dd299", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"264": ""}]}