{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 49, "knowledge_revision": 191, "git_revision": "", "hash": "c1fdbe00345049dc886a4ed7837501e6", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"191": ""}]}